{% extends 'base.html.twig' %}
{% block stylePage %}
	<link rel="stylesheet" href="{{asset('assets/styleRegister.css')}}">
{% endblock %}


{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div id='registerContainer'>

		<div class="signup__container"></div>
		<div class="formRegister">
			{{ form_start(registrationForm) }}

			<div class="form-group">

				{{ form_row(registrationForm.firstname, { 'attr': {'class': 'form-control'}})  }}

			</div>
			<div class="form-group">

				{{ form_row(registrationForm.lastname, { 'attr': {'class': 'form-control'}})  }}

			</div>
			<div class="form-group">

				{{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'}})  }}

			</div>
			<div class="form-group">
				{{ form_row(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control'}}) }}

			</div>
			<div class="form-group">
				{{ form_row(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control'}}) }}

			</div>
			<div class="form-group">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>

			{# </div> #}
			<div class="m-t-lg">
				<ul class="list-inline">
					<li>
						<input class="btn btn--form" type="submit" value="Register"/>
					</li>
					<li>
						<a class="signup__link" href="{{path('app_login')}}">I am already a member</a>
					</li>

				</ul>
			</div>
			{{ form_end(registrationForm) }}

		</div>

	</div>

{% endblock %}
