<div class="shop_grid_product_area">
	<div class="row">
		<div class="col-12">
			<div class="product-topbar d-flex align-items-center justify-content-between">
				<div class="total-products">
					<p><span>{{total}}</span>products found</p>
				</div>
				{% set queryParam = app.request.query.all %}
				{% if queryParam is not empty and queryParam.sort is defined%}
					{% if queryParam.sort == 'ASC' %}
						{% set selectedA = "selected" %}{% set selectedD = "" %}
					{% endif %}
					{% if queryParam.sort == 'DESC' %}
						{% set selectedD = "selected" %}{% set selectedA = "" %}
					{% endif %}
				{% else %}
					{% set selectedA = "" %}
					{% set selectedD = "" %}
				{% endif %}
				<div class="product-sorting d-flex">
					<p>Sort by:</p>
					<select class="sortBy" name='sorto'>
						<option value="ds">Highest Rated</option>
						<option value="DESC" {{selectedD}}>Price: €€ - €</option>
						<option value="ASC" {{selectedA}}>Price: € - €€</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		{% for produit in armament %}
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-product-wrapper">
					<div class="product-img">
						<img src="{{ asset('assets/img/armament/')}}{{produit.image}}" alt="">
						<img class="hover-img" src="{{ asset('assets/img/armament/')}}{{produit.image2}}" alt="">
					</div>
					<div class="product-description">
						<a href="{{ path('armament',{slug:produit.slug}) }}">
							<h6  class='title' >{{produit.name}}</h6>
						</a>
						<span class='subtitle'>{{produit.calibre}}mm</span>
						<p class="product-price">{{(produit.price / 100)|number_format(2,',', ' ')}}€</p>
						<div class="hover-content">
							<div class="add-to-cart-btn">
								<button type="button" class="btn btn-outline-secondary btnAdd" value="{{produit.id}}">add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% set queryParam = app.request.query.all %}
		{% set queryString = queryParam|filter((v, k) => k != 'page' and k != 'ajax')|url_encode %}
	</div>
	<nav aria-label="navigation">
		<ul class="pagination mt-50 mb-70">
			{% set pages = (total / limit)|round(0, 'ceil') %}
			{% if pages != 0 %}
				<li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
					<a class="page-link" href="{{ (page > 1) ? "?page=" ~ (page - 1) : "" }}&{{queryString}}">
						<i class="fa fa-angle-left"></i>
					</a>
				</li>
				{% for item in 1..(pages) %}
					<li class="page-item {{ (page == item) ? 'active' : '' }}">
						<a class="page-link" href="?page={{item}}&{{queryString}}">{{item}}</a>
					</li>
				{% endfor %}
				<li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
					<a class="page-link" href="{{ (page < pages ) ? '?page=' ~ (page + 1)  : '' }}&{{queryString}}">
						<i class="fa fa-angle-right"></i>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>